* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Top Banner Section Styles*/
.top-section {
    background-image: url(images/banner/banner1\ -\ Copy.png);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;

    /* We can easily use following as alternative in the top-description class. 
    In that case result will be same. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;

}

.top-description {
    margin-right: 130px;
}

.top-description h1 {
    color: #151414;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}

.top-description p {
    padding-left: 700px;
    padding-bottom: 30px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.btn-contact {
    color: white;
    background-color: tomato;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

/* My failures of previous year */
.failures-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.failures-description {
    margin-top: 60px;
    margin-left: 100px;
}

.failures-description p {
    margin-bottom: 20px;
    color: #757575;
}

.failures-description h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.failures-list img {
    width: 30px;
    padding-right: 15px;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding-top: 10px;
}

/* My Plans Styles */
.plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-section {
    margin-top: 200px;
}

.plan-section h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

.single-plan{
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.single-plan,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Positive Section Styles */
.positive-section {
    margin-top: 150px;
}

.positive-section img{
    position: absolute;
    border-radius: 10px;

}

.positive-mindset {
    background: linear-gradient(90deg, #f15c0c 0%, rgba(241, 92, 12, 0.00) 100%);
    padding: 40px;
    border-radius: 10px;
    position: relative;
    height: 222px;

}

.positive-mindset h1 {
    font-size: 43px;
    font-weight: 800;
    color: white;
    padding-bottom: 20px;
}

.btn-call-now {
    color: red;
    background-color: #fbf8f8;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 150px;
}


/* Footer Styles */
.footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    background-color: black;
    padding: 50px 130px;
}

.social-media {
    color: white;
    padding-right: 400px;
}

.social-media p {
    padding: 10px 0 10px 0;
    color: #757575;
    font-size: 18px;
}

.social-media img {
    background-color: white;
    border: none;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}

.subscribe {
    color: white;
}

.subscribe input {
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 300px;
}

.btn-subscribe {
    color: #f90505;
    background-color: #faf9f9;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 150px;
}